<!-- templates/recipes/recipe_detail.html -->
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>
<p><strong>Składniki:</strong></p>
<p>{{ object.ingredients|linebreaks }}</p>
<p><strong>Instrukcje:</strong></p>
<p>{{ object.instructions|linebreaks }}</p>


<p>
  Kategoria:
  {% if object.category %}
    <a href="{% url 'recipe_by_category' object.category.slug %}">{{ object.category.name }}</a>
  {% else %}—{% endif %}
</p>

<p>
  Tagi:
  {% for t in object.tags.all %}
    <a href="{% url 'recipe_by_tag' t.slug %}">#{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
  {% empty %}—{% endfor %}
</p>
{% if object.image %}
  <img src="{{ object.image.url }}" alt="{{ object.title }}">
{% endif %}