<!-- templates/recipes/recipe_list.html -->
<h1>Przepisy</h1>

{% if active_category %}<p>Kategoria: {{ active_category.name }}</p>{% endif %}
{% if active_tag %}<p>Tag: {{ active_tag.name }}</p>{% endif %}

<ul>
  {% for r in object_list %}
    <li>
      <a href="{% url 'recipes:recipe_detail' r.slug %}">{{ r.title }}</a>
      {% if r.category %} — <a href="{% url 'recipes:recipe_by_category' r.category.slug %}">{{ r.category.name }}</a>{% endif %}
      {% if r.tags.all %}
        ·
        {% for t in r.tags.all %}
          <a href="{% url 'recipes:recipe_by_tag' t.slug %}">#{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </li>
  {% empty %}
    <li>Brak przepisów.</li>
  {% endfor %}
</ul>
