<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Kuchnia</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="navbar-brand" href="{% url 'home' %}">Kuchnia</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:recipe_list' %}">Przepisy</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
